/* Подключаю шрифт */
@font-face {
  font-family: "Undertale";
  src: local("Undertale Battle Font"),
  url(fonts/fontsquirrel/undertale-battle-font.woff2) format("woff"),
  url(fonts/fontsquirrel/undertale-battle-font.woff) format("woff"),
  url(fonts/Undertale-Battle-Font.ttf) format("truetype");
}


html, body {
  height: fit-content;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


html {
  font-size: 56px;

  /* УБИРАЕТ СКРОЛЛБАР */
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
/* 
html::-webkit-scrollbar {
  display: none; 
} */

body {
  background-color: black;

  font-family:  "Undertale", "Cambria", sans-serif;
  font-weight: 400;
  color: cyan;
  letter-spacing: 4px;
  text-shadow: 0 0 8px cyan;
  
  padding-left: 10px;
  padding-right: 25px;
}

p {
  display: inline;
  margin: 0;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.done {
  /* width: 110%; */
  transform: translateX(-20px);
  padding-left: 20px;
  padding-right: 25px;

  user-select: text;
}

.done p {
  display: block;
  margin-bottom: 20px;
}

.todo {
  min-height: 70px;
  user-select: text;
}

.typed-text {

}

.typed-text::selection {
  visibility: hidden;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.add-line::before {
  content: '';
  position: absolute;
  width: 98vw;
  height: 2px;

  transform: translate(0, -8px);

  background-color: #fff;
}

.command-result {
  display: inline;
  margin-left: 70px;

  color: white;
  text-shadow: 0 0 8px white;
}

.cursor {
  display: inline-block;

  z-index: -1000;

  position: absolute;
  width: 25px;
  height: 40px;
  margin-left: 5px;
  margin-top: 15px;

  background-color: cyan;
  filter: drop-shadow(0 0 4px cyan);

  transition: opacity 0.1s linear, width 0.05s linear, transform 0.05s linear, top 0.05s linear, background-color 0s 0.05s linear, outline 0.05s linear;

  box-sizing: border-box;
  height: 40px;

  outline: 2px solid transparent;

  user-select: none;
}

.cursor-only-opacity {
  transition: opacity 0.1s linear;
}

.cursor-line {
  width: 3px;
  height: 60px;
  margin-top: 1px;
}

.cursor-frame {
  background-color: transparent;
  margin-top: 1px;
  height: 60px;
  
  outline-color: cyan;

  transition: opacity 0.1s linear, width 0.05s linear, transform 0.05s linear, top 0.05s linear, outline 0.05s linear;
}

/* С телефона нельзя выставлять width: 0; т.к тогда ПОЧЕМУ-ТО инпут обрезается до последнего слова
также нельзя выставить position: absolute, т.к. инпут остается в конце страницы на момент ее создания, а потом двигается вверх по мере набора команд и из-за этого
при вводе туда чего-либо происходит скролл туда, который не исправить evt.preventDefault(); Также нельзя поставить display: none; или visibility: hidden, т.к не открывается
клавиатура с андроида и возможно даже с компа не печатается, точно не помню)
Вывод - один из немногих, если не единственный способ это реализовать - это именно так, как сделано тут:
position: fixed;
width: >0; наверное нужно хотя бы 10-40px
opacity: 0; или filter: opacity(0);
*/

form, input[type = "text"] {
  position: fixed;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 20%;

  /* left: -1920px;
  opacity: 0; */
  top: 300px;
  left: 150%;
  width: 50%;
}

form, input[type = "text"]:focus,
input[type = "text"]:active {
  outline: none;
}

/* *::selection {
  visibility: hidden;
  text-shadow:  0 0 14px white;
} */

.no-select {
  user-select: none;
}

.no-select:not(body) {
  opacity: 0.7;
}