html {
    --header-padding-sides: 20px;
    --header-min-width: 900px;

    --splash-offset-left: -90px;
    --splash-min-width: calc( var(--header-min-width) + 2 * var(--header-padding-sides) - var(--splash-offset-left) );
}

.page {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    background-color: white;
}

.page__splash {
    position: absolute;
    z-index: -100;

    top: 0;
    left: var(--splash-offset-left);

    width: calc(100% - var(--splash-offset-left));
    min-width: var(--splash-min-width);

    height: 100%;
}

.splash {
    background-image: url(../images/main-splash.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: var(--header-min-width);
    padding-left: var(--header-padding-sides);
    padding-right: var(--header-padding-sides);
    height: 55px;
}

.header_color_transparent {
    background-color: transparent;
}

.header_border_white {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

.header__inner {
    width: 100%;
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo */
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    height: 30px;

    font-size: 22.5px;
    font-weight: 700;
}

.header__title {
    color: rgb(255, 255, 255);
    margin-right: 49px;

    transform: translateY(-2px);
}

.header__title_text-color_red {
    color: rgb(255, 32, 32);
}

.header__description {
    position: relative;
    margin-right: 20px;
    width: 265px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.62);
}

.header__description::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 0;
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.62);
}

/* NAV */
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;

    height: 30px;
}

.header__info {
    display: flex;
    transform: translateX(-26px);
}

.header__login {
    display: flex;
}

.header__info::after {
    content: '';
    position: absolute;
    right: calc( -1*(26px / 2 + 18px / 2));
    top: 8px;
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.62);
}

.header__link {
    position: relative;
    padding: 6px 19px 8px;

    margin-left: 18px;
    color: white;
    text-decoration: none;
}

.header__link_background_red {
    border-radius: 4px;
    background-color: rgba(255, 32, 32, 1);
}

.header__link_current::after {
content: '';
position: absolute;

top: 44.5px;
left: 15px;
width: calc(100% - 19px * 2 + 10px);
height: 2px;
background-color: red;
border-radius: 2px;
}