html {
    --header-padding-sides: 20px;
    --header-min-width: 900px;

    --splash-offset-left: -90px;
    --splash-min-width: calc(var(--header-min-width) + 2 * var(--header-padding-sides) - var(--splash-offset-left));
}

/* Общие блоки */
.container {
    width: 100%;
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Ширина по макету 338px, а здесь больше т.к. изменено название*/
.container_small {
    max-width: 400px;

    outline: 1px solid wheat;
}

.title {
    color: rgb(255, 255, 255);
    font-family: "Google Sans", sans-serif;
}

.title_text-color_red {
    font-family: "Google Sans", sans-serif;
    color: rgb(255, 32, 32);
}

.link {
    display: block;

    box-sizing: border-box;

    position: relative;
    padding: 6px 19px 8px;

    margin-left: 18px;
    color: white;
    text-decoration: none;
}

.link_background_red {
    border-radius: 4px;
    background-color: rgba(255, 32, 32, 1);
}

.link_current::after {
    content: '';
    position: absolute;

    top: 44.5px;
    left: 15px;
    width: calc(100% - 19px * 2 + 10px);
    height: 2px;
    background-color: red;
    border-radius: 2px;
}

.link_img {
    padding: 0;
    line-height: 0px;

    outline: 1px solid red;
}

.link_user-agreement {
    padding: 0;
    margin-left: 0;

    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.img {
    padding: 0;

    outline: 1px solid blue;
}

/* Body */
.page {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    background-color: white;
}

.page__splash {
    position: absolute;
    z-index: -100;

    margin-left: auto;
    margin-right: auto;

    top: 0;
    left: var(--splash-offset-left);

    width: calc(100% - var(--splash-offset-left));
    min-width: var(--splash-min-width);

    height: 663px;

    background-color: rgb(13, 25, 37);
}

.splash {
    background-image: url(../images/main-splash.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: var(--header-min-width);
    padding-left: var(--header-padding-sides);
    padding-right: var(--header-padding-sides);
    height: 55px;
}

.header_color_transparent {
    background-color: transparent;
}

.header_border_white {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

/* Хедер -> лого */
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    height: 30px;

    font-size: 22.5px;
    font-weight: 700;
}

.header__title {
    margin-right: 49px;
    transform: translateY(-2px);
}

.header__description {
    position: relative;
    margin-right: 20px;
    width: 265px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.62);
}

.header__description::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 0;
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.62);
}

/* Хедер -> навигация */
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;

    height: 30px;
}

.header__info {
    display: flex;
    transform: translateX(-26px);
}

.header__login {
    display: flex;
}

.header__info::after {
    content: '';
    position: absolute;
    right: calc(-1*(26px / 2 + 18px / 2));
    top: 8px;
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.62);
}

/* Footer */

.footer {
    display: flex;

    background-color: rgb(15, 27, 39);
    height: 560px;

    min-width: var(--header-min-width);
    padding-left: var(--header-padding-sides);
    padding-right: var(--header-padding-sides);

    color: white;
}

.footer__inner {
    flex-direction: column;
}

.footer__main {
    align-items: flex-start;

    padding-top: 90px;
    padding-bottom: 76px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    outline: 1px solid wheat;
}

.footer__description {
    width: 450px;

    font-size: 32px;
    font-weight: 500;

    line-height: 36px;
    text-align: left;
    letter-spacing: -0.02em;

    outline: 1px solid red;
}

.footer__nav {
    flex-grow: 1;
    max-width: 240px;
    min-width: fit-content;

    outline: 1px solid magenta;
}

.link_style1 {
    font-size: 17px;
    line-height: 20px;

    outline: 1px solid gray;
}

.link_style2 {
    width: 224px;

    padding-top: 19px;
    padding-bottom: 19px;

    background-color: white;
    border-radius: 4px;

    font-size: 17px;
    font-weight: 700;
    color: rgb(15, 27, 39);
    text-align: center;
}

.link_style2-border_white {
    color: white;

    background-color: transparent;
    border-radius: 4px;

    border: 1px solid white;
}

.footer__link {
    margin: 0;
}

.footer__login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;

    width: 224px;
    

    outline: 1px solid green;
}

.footer__socials {
    margin-left: 0;
    padding-top: 40px;

    font-size: 24.5px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
}

.footer__social-link {
    margin: 0;
    margin-left: 10px;
}

.footer__copyright {
    align-items: baseline;

    margin-top: auto;
    margin-bottom: 29px;
    margin-left: 0;
    padding: 0;

    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    outline: 1px solid purple;
}

.footer__copyright * {
    outline: 1px solid white;
}

.footer__user-agreement {
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

* {
    outline: none!important;
}